<!DOCTYPE html>
<html>

<head>
    <title>Chatter</title>
    <meta charset="utf-8">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
</head>

<body>
    {{{body}}}
</body>

</html>
